In [5]:
import pandas as pd

In [17]:
df = pd.read_csv('imdb_ratings.csv')
df = df.drop('Unnamed: 0', axis=1)
df

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2000,102 Dalmatians,American,"After three years in prison, Cruella de Vil ha...",4.8,NaN
1,2000,28 Days,American,Gwen Cummings (Sandra Bullock) spends her nigh...,6.1,NaN
2,2000,3 Strikes,American,Robert Douglas (Brian Hooks) is in prison for ...,4.6,NaN
3,2000,The 6th Day,American,At some point in the indeterminate near future...,5.9,NaN
4,2000,The Adventures of Rocky and Bullwinkle,American,35 years since their show's cancellation in 19...,5.8,NaN
...,...,...,...,...,...,...
3542,2017,Crooked House,American,The granddaughter of late business tycoon Aris...,6.3,NaN
3543,2017,Hostiles,American,"In 1892, settler Wesley Quaid and his family a...",7.2,NaN
3544,2017,All the Money in the World,American,"In 1973, 16-year-old John Paul Getty III (Paul...",6.8,NaN
3545,2017,Molly's Game,American,Molly Bloom is world-class mogul skier with Ol...,7.4,NaN
3546,2017,Phantom Thread,American,"In 1954 London, renowned fashion designer Reyn...",7.4,NaN

In [18]:
df.loc[df['Title'] == 'Keane']

Empty DataFrame
Columns: [Release Year, Title, Origin/Ethnicity, Plot, imdbRating, Subtitles]
Index: []

In [7]:
sorted_df = df.sort_values(by=['imdbRating'], ascending=False)
sorted_df

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
411,2002,Chat Room,American,Most people want to have a good-looking date f...,9.0,NaN
679,2003,The Lord of the Rings: The Return of the King,American,"Many years ago, two Hobbits, Smeagol and DÃ©ago...",9.0,NaN
702,2003,The Night We Called it a Day,American,"In 1974, Rod Blue is a surfer with shoulder-le...",8.9,NaN
290,2001,The Lord of the Rings: The Fellowship of the Ring,American,"In the Second Age of Middle-earth, the lords o...",8.8,NaN
2174,2010,Inception,American,"Dominick ""Dom"" Cobb and Arthur are ""extractors...",8.8,NaN
...,...,...,...,...,...,...
2371,2011,Justin Bieber: Never Say Never,American,The film follows the pop star Justin Bieber du...,1.6,NaN
1998,2009,Jonas Brothers: The 3D Concert Experience,American,The 3D Concert Experience follows the Jonas Br...,1.6,NaN
2807,2013,Justin Bieber's Believe,American,The sequel to Never Say Never continues to foc...,1.5,NaN
928,2004,SuperBabies: Baby Geniuses 2,American,The film starts with a group of babies in a da...,1.5,NaN
1928,2009,C Me Dance,American,The story centers around a teenage girl named ...,1.4,NaN

In [9]:
df1 = sorted_df.head(50)
df1

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
411,2002,Chat Room,American,Most people want to have a good-looking date f...,9.0,NaN
679,2003,The Lord of the Rings: The Return of the King,American,"Many years ago, two Hobbits, Smeagol and DÃ©ago...",9.0,NaN
702,2003,The Night We Called it a Day,American,"In 1974, Rod Blue is a surfer with shoulder-le...",8.9,NaN
290,2001,The Lord of the Rings: The Fellowship of the Ring,American,"In the Second Age of Middle-earth, the lords o...",8.8,NaN
2174,2010,Inception,American,"Dominick ""Dom"" Cobb and Arthur are ""extractors...",8.8,NaN
480,2002,The Lord of the Rings: The Two Towers,American,After awakening from a dream of Gandalf the Gr...,8.8,NaN
1317,2006,Invincible,American,"During the 1970s, chaos reigns in the city of ...",8.7,NaN
833,2004,Friday Night Lights,American,As preseason practice begins for the Permian H...,8.7,NaN
3068,2014,Interstellar,American,"In the mid-21st century, crop blights and dust...",8.6,NaN
617,2003,Daredevil,American,Matt Murdock is a blind lawyer in New York Cit...,8.6,NaN
854,2004,Keane,American,Searching for his missing daughter Sophia in t...,8.6,NaN
179,2001,15 Minutes,American,Ex-convicts Emil Slovak (Karel Roden) and Oleg...,8.5,NaN
1384,2006,The Prestige,American,In 1890s London Robert Angier and Alfred Borde...,8.5,NaN
1238,2006,The Departed,American,"As a child, Colin Sullivan had been introduced...",8.5,NaN
3176,2015,Entourage,American,"Vincent Chase, who separated from his wife aft...",8.5,NaN
3475,2017,9/11,American,"On the morning of September 11, 2001, a messen...",8.5,NaN
897,2004,The Punisher,American,A smuggling operation in Tampa Bay results in ...,8.5,NaN
61,2000,Gladiator,American,"In AD 180, Hispano-Roman General Maximus Decim...",8.5,NaN
3057,2014,Whiplash,American,Andrew Neiman is a first-year jazz student at ...,8.5,NaN
2899,2013,Walking with Dinosaurs,American,A paleontologist named Zack takes his nephew R...,8.5,NaN
489,2002,Narc,American,Undercover narcotics officer Nick Tellis chase...,8.5,NaN
2746,2013,Erased,American,Ben Logan is an American single parent who has...,8.5,NaN
1860,2008,Star Wars: The Clone Wars,American,"During the Clone Wars, Jedi Knights Anakin Sky...",8.4,NaN
2948,2014,Veronica Mars,American,Nine years after the events of the show's thir...,8.4,NaN
2838,2013,Oldboy,American,"In 1993, alcoholic advertising executive, Joe ...",8.4,NaN
89,2000,Memento,American,The film starts with the Polaroid photograph o...,8.4,NaN
1210,2006,Chasing the Horizon,American,Chasing the Horizon takes a look at a team's p...,8.4,NaN
3524,2017,Coco,American,"In Santa Cecilia, Mexico, Imelda Rivera is the...",8.4,NaN
2533,2012,Django Unchained,American,"In 1858 Texas, the Speck brothers, Ace and Dic...",8.4,NaN
1880,2008,WALL-E,American,"In 2805, Earth is an abandoned, dystopian plan...",8.4,NaN
1958,2009,G-Force,American,The film revolves around a special team of tra...,8.4,NaN
699,2003,My Flesh and Blood,American,The documentary takes an in-depth look at the ...,8.3,NaN
122,2000,Requiem for a Dream,American,"During the summer in Brighton Beach, Brooklyn,...",8.3,NaN
78,2000,The Kid,American,Russ Duritz works as a successful but impolite...,8.3,NaN
1989,2009,Inglourious Basterds,American,"In 1941, SS colonel Hans Landa interrogates Fr...",8.3,NaN
2081,2009,Up,American,"In 1940, nine-year-old Carl Fredricksen idoliz...",8.3,NaN
2264,2010,Toy Story 3,American,Seventeen-year-old Andy[11] is about to leave ...,8.3,NaN
824,2004,Eternal Sunshine of the Spotless Mind,American,"Shy, soft-spoken Joel Barish and unrestrained ...",8.3,NaN
646,2003,The Haunted Mansion,American,The backstory to the film is briefly introduce...,8.3,NaN
2025,2009,New in Town,American,A high-powered consultant (RenÃ©e Zellweger) in...,8.2,NaN
2000,2009,Knowing,American,"In 1959, Lucinda Embry hears whispers while st...",8.2,NaN
963,2005,Batman Begins,American,"As a child, Bruce Wayne falls down into a dry ...",8.2,NaN
141,2000,Snatch,American,After stealing an 86-carat (17.2Â g) diamond in...,8.2,NaN
2248,2010,Shutter Island,American,"In 1954, U.S. Marshals Edward ""Teddy"" Daniels ...",8.2,NaN
628,2003,Elephant,American,Mr. McFarland is driving erratically down a re...,8.2,NaN
633,2003,Finding Nemo,American,"Two clownfish, Marlin and Coral, admire their ...",8.2,NaN
2365,2011,Inside Out,American,"A.J., an ex-con who served 13 years in Angola ...",8.2,NaN
3182,2015,Inside Out,American,Riley Andersen is born in Minnesota. Within he...,8.2,NaN
1692,2007,There Will Be Blood,American,"In 1898, Daniel Plainview, a prospector in New...",8.2,NaN
2436,2011,The Thing,American,"In 1982, an alien spacecraft is discovered ben...",8.2,NaN

In [10]:
df2 = sorted_df.loc[sorted_df['imdbRating'] <= 8.0]
df2 = df2.head(770)
df2 = df2.sample(n=30)
df2

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
1378,2006,Perfume: The Story of a Murderer,American,The film begins with the sentencing of Jean-Ba...,7.5,NaN
69,2000,High Fidelity,American,Rob Gordon is a self-confessed music loving ev...,7.4,NaN
244,2001,Frailty,American,Fenton Meiks (Matthew McConaughey) visits FBI ...,7.2,NaN
1194,2006,Black Christmas,American,"William Edward ""Billy"" Lenz, a boy born with s...",7.1,NaN
3119,2015,Kingsman: The Secret Service,American,"During a mission in the Middle East in 1997, p...",7.7,NaN
3463,2017,The Glass Castle,American,"The unconventional, poverty-stricken upbringin...",7.1,NaN
653,2003,House of Sand and Fog,American,"Abandoned by her husband, recovering drug addi...",7.5,NaN
3395,2017,Gifted,American,"In a small town near Tampa, Florida, seven-yea...",7.6,NaN
2716,2013,Bridegroom,American,Bridegroom chronicles the story of Shane Bitne...,8.0,NaN
3227,2016,Race,American,"Jesse Owens, a promising black American runner...",7.1,NaN
1142,2005,Walk the Line,American,"In 1968, as an audience of inmates at Folsom S...",7.8,NaN
2055,2009,A Serious Man,American,"In a prologue, a Jewish man in an unnamed 19th...",7.0,NaN
1655,2007,Reign Over Me,American,"When the Twin Towers went down in 2001, Charli...",7.4,NaN
310,2001,O,American,"During a high school basketball game, Odin Jam...",7.1,NaN
3449,2017,War for the Planet of the Apes,American,Two years have passed[9] since the human-hatin...,7.4,NaN
3438,2017,The Big Sick,American,Kumail is a comedian in Chicago trying to get ...,7.5,NaN
2820,2013,Lone Survivor,American,"In Afghanistan, Taliban leader Ahmad Shah is r...",7.5,NaN
1754,2008,Doubt,American,"In 1964 at a Catholic church in The Bronx, New...",7.5,NaN
2427,2011,Soul Surfer,American,"In 2003, teenager Bethany Hamilton lives in Ka...",7.0,NaN
2991,2014,22 Jump Street,American,Two years following their success in the 21 Ju...,7.0,NaN
2318,2011,"Crazy, Stupid, Love.",American,Cal Weaver is a middle-aged man who is told by...,7.4,NaN
2474,2012,Any Day Now,American,Rudy Donatello (Alan Cumming) is a struggling ...,7.4,NaN
2182,2010,The Karate Kid,American,Dre Parker and his mother Sherry Parker move f...,7.3,NaN
588,2003,Big Fish,American,"At Will Bloomâ€™s wedding party, his father Edwa...",8.0,NaN
1743,2008,The Dark Knight,American,A gang of criminals rob a Gotham City mob bank...,8.0,NaN
300,2001,Monsoon Wedding,American,The film's central story deals with the organi...,7.3,NaN
1425,2006,So Much So Fast,American,So Much So Fast documents 5 years in the life ...,7.5,NaN
2448,2011,The Way,American,Dr. Thomas Avery (Martin Sheen) is an American...,7.3,NaN
1023,2005,"Good Night, and Good Luck",American,"Set in 1953, during the early days of televisi...",7.4,NaN
1052,2005,Jarhead,American,"In 1989, Anthony ""Swoff"" Swofford, whose fathe...",7.0,NaN

In [11]:
df3 = sorted_df.loc[sorted_df['imdbRating'] < 7.0]
df3 = df3.head(1376)
df3 = df3.sample(n=25)
df3

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
2635,2012,Savages,American,Best friends Chon (Taylor Kitsch) and Ben (Aar...,6.4,NaN
2060,2009,The Slammin' Salmon,American,"""Slammin"" Cleon Salmon (Michael Clarke Duncan)...",6.4,NaN
2704,2013,Beside Still Waters,American,In the wake of his parents' deaths and about t...,6.2,NaN
3422,2017,War Machine,American,"In the summer of 2009, four-star General Glen ...",6.0,NaN
274,2001,Joy Ride,American,University students Lewis Thomas (Paul Walker)...,6.6,NaN
2375,2011,Larry Crowne,American,"Larry Crowne, a middle-aged Navy veteran, is f...",6.1,NaN
727,2003,The Rundown,American,"Beck (Dwayne Johnson) is a ""retrieval expert"",...",6.6,NaN
1145,2005,The Weather Man,American,A successful weatherman at a Chicago news prog...,6.6,NaN
467,2002,Jackass: The Movie,American,"(in a deleted scene, Chris Pontius dressed lik...",6.6,NaN
3424,2017,Captain Underpants: The First Epic Movie,American,"In the city of Piqua, Ohio, two fourth-grade f...",6.2,NaN
2659,2012,Touchback,American,The setting begins with the introduction of Sc...,6.5,NaN
2556,2012,Gayby,American,"Jenn (played by Jenn Harris), a yoga instructo...",6.0,NaN
704,2003,Once Upon a Time in Mexico,American,El Mariachi is recruited by CIA agent Sheldon ...,6.3,NaN
3390,2017,The Discovery,American,The film opens with an interview with Thomas H...,6.2,NaN
172,2000,Where the Money Is,American,Professional thief Henry Manning is in an Oreg...,6.3,NaN
1900,2009,Adventureland,American,"In 1987, James Brennan plans to have a summer ...",6.8,NaN
2212,2010,Morning Glory,American,Aspiring news producer Becky Fuller (Rachel Mc...,6.5,NaN
773,2004,Around the Bend,American,The film is inspired by the relationship betwe...,6.4,NaN
2847,2013,Parkland,American,Parkland weaves together the perspectives of a...,6.4,NaN
2170,2010,Hurricane Season,American,This movie is based on the true story of John ...,6.5,NaN
1235,2006,The Death of Poe,American,After a textual montage summarizing Edgar Alla...,6.0,NaN
195,2001,Antitrust,American,Working with his three friends at their new so...,6.1,NaN
3418,2017,"Everything, Everything",American,"Eighteen-year-old Maddy suffers from SCID, an ...",6.3,NaN
404,2002,The Burial Society,American,The Burial Society tells the story of Sheldon ...,6.0,NaN
3470,2017,All Saints,American,"Based on a true story, a salesman-turned-pasto...",6.1,NaN

In [12]:
df4 = sorted_df.loc[sorted_df['imdbRating'] < 6.0]
df4 = df4.head(916)
df4 = df4.sample(n=25)
df4

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
208,2001,Bubble Boy,American,"Born without an immune system, Jimmy Livingsto...",5.6,NaN
2577,2012,Journey 2: The Mysterious Island,American,It has been four years since the events of the...,5.7,NaN
3389,2017,The Blackcoat's Daughter,American,"In February, at a prestigious Catholic boardin...",5.9,NaN
1725,2008,Bangkok Dangerous,American,Joe (Cage) is a professional freelance contrac...,5.3,NaN
3333,2016,Friend Request,American,Laura (Alycia Debnam-Carey) is one of the most...,5.2,NaN
1075,2005,Man of the House,American,"At the beginning of the film, two lonesome Tex...",5.4,NaN
233,2001,Elvira's Haunted Hills,American,In 1851 in the Carpathian Mountains of Romania...,5.6,NaN
17,2000,Beautiful Joe,American,"A dying man finds that horses, blondes, and th...",5.6,NaN
2311,2011,The Chaperone,American,Ray Bradstone (Triple H) is the best wheel man...,5.0,NaN
830,2004,First Daughter,American,Samantha MacKenzie (Katie Holmes) is the only ...,5.0,NaN
2332,2011,Dylan Dog: Dead of Night,American,"In New Orleans, Dylan Dog, an ace detective wh...",5.1,NaN
2347,2011,Hall Pass,American,Rick (Owen Wilson) and Fred (Jason Sudeikis) a...,5.9,NaN
2421,2011,The Sitter,American,The film opens with Noah Griffith (Jonah Hill)...,5.6,NaN
229,2001,Double Take,American,Daryl Chase (Jones) is a successful investment...,5.3,NaN
367,2001,Uprising,American,Polish Jews imprisoned in the Warsaw Ghetto ri...,5.6,NaN
684,2003,Manhood,American,Jack (Carbonell) is a former womanizer and fas...,5.2,NaN
2931,2014,Vampire Academy,American,The story features 17-year-old Dhampir (half-h...,5.4,NaN
1573,2007,The Hills Have Eyes 2,American,"A captive woman, forced to breed mutant childr...",5.1,NaN
119,2000,Reindeer Games,American,Nick Cassidy and Rudy Duncan are cellmates in ...,5.8,NaN
1963,2009,"The Goods: Live Hard, Sell Hard",American,"Ben Selleck's car dealership, in Temecula, Cal...",5.7,NaN
68,2000,Here on Earth,American,"Kelvin ""Kelley"" Morse and Jasper Arnold become...",5.1,NaN
2104,2010,Barry Munday,American,"Barry Munday (Patrick Wilson), a lonely womani...",5.8,NaN
2142,2010,The Twilight Saga: Eclipse,American,"In Seattle, not far from Forks, Victoria is st...",5.0,NaN
522,2002,Scooby-Doo,American,"The members of Mystery, Inc. solve the case of...",5.2,NaN
259,2001,Head Over Heels,American,"Amanda Pierce (Monica Potter), a New York pain...",5.4,NaN

In [13]:
df5 = sorted_df.loc[sorted_df['imdbRating'] < 5.0]
df5 = df5.head(267)
df5 = df5.sample(n=20)
df5

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
548,2002,They,American,"In 1983, a young boy named Billy Parks (Alexan...",4.8,NaN
1183,2006,Basic Instinct 2,American,"Set in London, the film opens with American be...",4.4,NaN
2163,2010,Gulliver's Travels,American,Deeply depressed at his dead-end job in the ma...,4.9,NaN
3244,2016,God's Not Dead 2,American,AP History teacher Grace Wesley (Melissa Joan ...,4.3,NaN
2709,2013,Black Rock,American,Sarah (Kate Bosworth) invites her childhood fr...,4.8,NaN
2478,2012,ATM,American,David Hargrove (Brian Geraghty) is a stockbrok...,4.7,NaN
603,2003,Charlie's Angels: Full Throttle,American,After rescuing U.S. Marshal Ray Carter (Robert...,4.9,NaN
0,2000,102 Dalmatians,American,"After three years in prison, Cruella de Vil ha...",4.8,NaN
1264,2006,Fifty Pills,American,After being blamed for a party which he didn't...,4.9,NaN
204,2001,Black Knight,American,Jamal Walker (Martin Lawrence) is an everyday ...,4.9,NaN
698,2003,My Boss's Daughter,American,Tom Stansfield (Ashton Kutcher) is a researche...,4.7,NaN
1722,2008,Baby Mama,American,Kate Holbrook (Tina Fey) is a successful singl...,4.1,NaN
3107,2015,We'll Never Have Paris,American,Quinn (Simon Helberg) and Devon (Melanie Lynsk...,4.6,NaN
1855,2008,Space Chimps,American,"Ham III, grandson of the first chimpanzee in s...",4.5,NaN
1988,2009,The Informers,American,The movie opens in 1983 at an elegant Los Ange...,4.9,NaN
1280,2006,Full Grown Men,American,Alby Cutrera is a pathologically nostalgic guy...,4.9,NaN
2249,2010,Skyline,American,Jarrod and his girlfriend Elaine have flown to...,4.5,NaN
1514,2007,Captivity,American,A young man is being tortured. Two tubes are i...,4.6,NaN
1968,2009,Hannah Montana: The Movie,American,Miley Stewart is struggling with alter-ego Han...,4.5,NaN
1448,2006,Ultraviolet,American,"Ultraviolet takes place in 2078, in the years ...",4.3,NaN

In [14]:
df_for_subs = pd.concat([df1, df2, df3, df4, df5], axis=0)
df_for_subs = df_for_subs.sample(frac=1).reset_index(drop=True)
df_for_subs

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2004,Eternal Sunshine of the Spotless Mind,American,"Shy, soft-spoken Joel Barish and unrestrained ...",8.3,NaN
1,2003,Charlie's Angels: Full Throttle,American,After rescuing U.S. Marshal Ray Carter (Robert...,4.9,NaN
2,2017,Coco,American,"In Santa Cecilia, Mexico, Imelda Rivera is the...",8.4,NaN
3,2013,Black Rock,American,Sarah (Kate Bosworth) invites her childhood fr...,4.8,NaN
4,2005,Batman Begins,American,"As a child, Bruce Wayne falls down into a dry ...",8.2,NaN
...,...,...,...,...,...,...
145,2017,Captain Underpants: The First Epic Movie,American,"In the city of Piqua, Ohio, two fourth-grade f...",6.2,NaN
146,2012,Any Day Now,American,Rudy Donatello (Alan Cumming) is a struggling ...,7.4,NaN
147,2008,The Dark Knight,American,A gang of criminals rob a Gotham City mob bank...,8.0,NaN
148,2007,The Hills Have Eyes 2,American,"A captive woman, forced to breed mutant childr...",5.1,NaN
149,2016,God's Not Dead 2,American,AP History teacher Grace Wesley (Melissa Joan ...,4.3,NaN

In [19]:
df_for_subs.to_csv('100_imdb_ratings_2.csv')