In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('wiki_movie_plots_deduped.csv')

In [3]:
df = df[['Release Year', 'Title', 'Origin/Ethnicity', 'Plot']]

In [4]:
df

,Release Year,Title,Origin/Ethnicity,Plot
0,1901,Kansas Saloon Smashers,American,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,The earliest known adaptation of the classic f...
...,...,...,...,...
34881,2014,The Water Diviner,Turkish,"The film begins in 1919, just after World War ..."
34882,2017,Çalgı Çengi İkimiz,Turkish,"Two musicians, Salih and Gürkan, described the..."
34883,2017,Olanlar Oldu,Turkish,"Zafer, a sailor living with his mother Döndü i..."
34884,2017,Non-Transferable,Turkish,The film centres around a young woman named Am...
34885,2017,İstanbul Kırmızısı,Turkish,The writer Orhan Şahin returns to İstanbul aft...

In [6]:
df1 = df.loc[df['Origin/Ethnicity'] == 'American']

In [7]:
df1.shape

(17377, 4)

In [8]:
df1 = df1.loc[df1['Release Year'] >= 2000]

In [9]:
df1.shape

(3785, 4)

In [12]:
df1.reset_index(drop=True, inplace=True)

In [13]:
df1.shape

(3785, 4)

In [14]:
df1_first1000 = df1.head(1000)

In [15]:
df1_first1000

,Release Year,Title,Origin/Ethnicity,Plot
0,2000,102 Dalmatians,American,"After three years in prison, Cruella de Vil ha..."
1,2000,28 Days,American,Gwen Cummings (Sandra Bullock) spends her nigh...
2,2000,3 Strikes,American,Robert Douglas (Brian Hooks) is in prison for ...
3,2000,The 6th Day,American,At some point in the indeterminate near future...
4,2000,The Adventures of Rocky and Bullwinkle,American,35 years since their show's cancellation in 19...
...,...,...,...,...
995,2004,Without a Paddle,American,Twelve years after graduating from high school...
996,2004,The Woodsman,American,"Walter (Kevin Bacon), a convicted child molest..."
997,2004,The Work and the Glory,American,The Steed family moves from their Vermont sett...
998,2004,You Got Served,American,David and Elgin lead a promising dance crew in...
999,2005,The 40-Year-Old Virgin,American,Andy Stitzer is a 40-year-old virgin who lives...

In [18]:
df1['imdbRating'] = ''
df1['Subtitles'] = ''

In [32]:
# df1['imdbID'] = ''
df1_first1000['imdbRating'] = ''
df1_first1000['Subtitles'] = ''

In [33]:
df1_first1000

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2000,102 Dalmatians,American,"After three years in prison, Cruella de Vil ha...",,
1,2000,28 Days,American,Gwen Cummings (Sandra Bullock) spends her nigh...,,
2,2000,3 Strikes,American,Robert Douglas (Brian Hooks) is in prison for ...,,
3,2000,The 6th Day,American,At some point in the indeterminate near future...,,
4,2000,The Adventures of Rocky and Bullwinkle,American,35 years since their show's cancellation in 19...,,
...,...,...,...,...,...,...
995,2004,Without a Paddle,American,Twelve years after graduating from high school...,,
996,2004,The Woodsman,American,"Walter (Kevin Bacon), a convicted child molest...",,
997,2004,The Work and the Glory,American,The Steed family moves from their Vermont sett...,,
998,2004,You Got Served,American,David and Elgin lead a promising dance crew in...,,
999,2005,The 40-Year-Old Virgin,American,Andy Stitzer is a 40-year-old virgin who lives...,,

In [34]:
# Vasudha's API key: 68dd8045
# Chaitanya's API key: dc32211d
# Divya's API key: 1c4964e2, f2d69a7e

import requests

def getImdbRating(moviename):
    moviename = moviename.lower()
    url = f"https://www.omdbapi.com/?t={moviename}&apikey=f2d69a7e"
    response = requests.get(url)
    data = response.json()
    if 'Response' in data and data['Response'] == 'False':
        return (-1, -1)
    return data["imdbRating"]

In [35]:
df1_first1000['imdbRating'] = df1_first1000['Title'].apply(lambda func: getImdbRating(func))

In [36]:
df1_first1000

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2000,102 Dalmatians,American,"After three years in prison, Cruella de Vil ha...",4.8,
1,2000,28 Days,American,Gwen Cummings (Sandra Bullock) spends her nigh...,6.1,
2,2000,3 Strikes,American,Robert Douglas (Brian Hooks) is in prison for ...,4.6,
3,2000,The 6th Day,American,At some point in the indeterminate near future...,5.9,
4,2000,The Adventures of Rocky and Bullwinkle,American,35 years since their show's cancellation in 19...,5.8,
...,...,...,...,...,...,...
995,2004,Without a Paddle,American,Twelve years after graduating from high school...,5.8,
996,2004,The Woodsman,American,"Walter (Kevin Bacon), a convicted child molest...",7.2,
997,2004,The Work and the Glory,American,The Steed family moves from their Vermont sett...,6.5,
998,2004,You Got Served,American,David and Elgin lead a promising dance crew in...,N/A,
999,2005,The 40-Year-Old Virgin,American,Andy Stitzer is a 40-year-old virgin who lives...,7.1,

In [37]:
df1_first1000.to_csv('first_1000_imdbs.csv')

In [20]:
df1_second1000 = df1.loc[1000:1999]

In [21]:
df1_second1000.reset_index(drop=True, inplace=True)

In [22]:
df1_second1000

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2005,51 Birch Street,American,51 Birch Street is the first-person account of...,,
1,2005,The Adventures of Sharkboy and Lavagirl in 3-D,American,Max is a lonely child in the suburbs of Austin...,,
2,2005,Æon Flux,American,"In 2011, a deadly pathogenic virus has killed ...",,
3,2005,The Amityville Horror,American,"In 1974, Ronald DeFeo Jr. murdered his family ...",,
4,2005,Are We There Yet?,American,Children Lindsey and Kevin Kingston sabotage t...,,
...,...,...,...,...,...,...
995,2009,Astro Boy,American,Toby Tenma is a 13 year old teenage boy who li...,,
996,2009,Avatar,American,"In 2154, humans have depleted Earth's natural ...",,
997,2009,Away We Go,American,Verona De Tessant (Maya Rudolph) and Burt Farl...,,
998,2009,The Bad Lieutenant: Port of Call New Orleans,American,"In August 2005, Terence McDonagh (Nicolas Cage...",,
999,2009,Bandslam,American,Will Burton (Gaelan Connell) is a music enthus...,,

In [23]:
%%time
df1_second1000['imdbRating'] = df1_second1000['Title'].apply(lambda func: getImdbRating(func))

CPU times: total: 5.09 s
Wall time: 3min 33s

In [24]:
df1_second1000

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2005,51 Birch Street,American,51 Birch Street is the first-person account of...,7.3,
1,2005,The Adventures of Sharkboy and Lavagirl in 3-D,American,Max is a lonely child in the suburbs of Austin...,"(-1, -1)",
2,2005,Æon Flux,American,"In 2011, a deadly pathogenic virus has killed ...",5.4,
3,2005,The Amityville Horror,American,"In 1974, Ronald DeFeo Jr. murdered his family ...",5.9,
4,2005,Are We There Yet?,American,Children Lindsey and Kevin Kingston sabotage t...,4.7,
...,...,...,...,...,...,...
995,2009,Astro Boy,American,Toby Tenma is a 13 year old teenage boy who li...,6.2,
996,2009,Avatar,American,"In 2154, humans have depleted Earth's natural ...",7.8,
997,2009,Away We Go,American,Verona De Tessant (Maya Rudolph) and Burt Farl...,7.0,
998,2009,The Bad Lieutenant: Port of Call New Orleans,American,"In August 2005, Terence McDonagh (Nicolas Cage...","(-1, -1)",
999,2009,Bandslam,American,Will Burton (Gaelan Connell) is a music enthus...,6.3,

In [25]:
df1_second1000.to_csv('second_1000_imdbs.csv')

In [28]:
df1_third1000 = df1.loc[2000:2999]
df1_third1000.reset_index(drop=True, inplace=True)
df1_third1000

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2009,Battle for Terra,American,Mala (Evan Rachel Wood) and her friend Senn (J...,,
1,2009,Berdella[2],American,"Beginning in 1984 and ending 1988, the film fo...",,
2,2009,Beyond a Reasonable Doubt,American,"Shreveport, Louisiana TV reporter C. J. Nichol...",,
3,2009,Big Fan,American,Paul Aufiero (Patton Oswalt) is a parking gara...,,
4,2009,The Blind Side,American,The film opens with seventeen-year-old Michael...,,
...,...,...,...,...,...,...
995,2013,Killing Season,American,"During the Bosnian War, American troops witnes...",,
996,2013,"Kings of Summer, TheThe Kings of Summer",American,"Joe Toy (Nick Robinson), on the verge of adult...",,
997,2013,Kiss of the Damned,American,"Paolo, a screenwriter staying in Connecticut t...",,
998,2013,Koch,American,First-time filmmaker and former Wall Street Jo...,,
999,2013,Lake Windfall,American,The film begins with five friends who are orga...,,

In [29]:
%%time
df1_third1000['imdbRating'] = df1_third1000['Title'].apply(lambda func: getImdbRating(func))

CPU times: total: 3.56 s
Wall time: 3min 28s

In [30]:
df1_third1000

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2009,Battle for Terra,American,Mala (Evan Rachel Wood) and her friend Senn (J...,6.5,
1,2009,Berdella[2],American,"Beginning in 1984 and ending 1988, the film fo...","(-1, -1)",
2,2009,Beyond a Reasonable Doubt,American,"Shreveport, Louisiana TV reporter C. J. Nichol...",5.8,
3,2009,Big Fan,American,Paul Aufiero (Patton Oswalt) is a parking gara...,6.7,
4,2009,The Blind Side,American,The film opens with seventeen-year-old Michael...,7.6,
...,...,...,...,...,...,...
995,2013,Killing Season,American,"During the Bosnian War, American troops witnes...",5.4,
996,2013,"Kings of Summer, TheThe Kings of Summer",American,"Joe Toy (Nick Robinson), on the verge of adult...","(-1, -1)",
997,2013,Kiss of the Damned,American,"Paolo, a screenwriter staying in Connecticut t...",5.5,
998,2013,Koch,American,First-time filmmaker and former Wall Street Jo...,6.6,
999,2013,Lake Windfall,American,The film begins with five friends who are orga...,7.9,

In [31]:
df1_third1000.to_csv('third_1000_imdbs.csv')

In [35]:
df1_fourth1000 = df1.loc[3000:3999]
df1_fourth1000.reset_index(drop=True, inplace=True)
df1_fourth1000

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2013,Last Call,American,"Two underachieving cousins, Danny (Van Winkle)...",,
1,2013,"Last Exorcism Part II, TheThe Last Exorcism Pa...",American,"A couple, Jared (Judd Lormand) and Lily (Boyan...",,
2,2013,"Last Stand, TheThe Last Stand",American,Sheriff Ray Owens is a man who has resigned hi...,,
3,2013,Last Vegas,American,"Billy, Paddy, Archie, and Sam are childhood fr...",,
4,2013,"Legend of Jimi Lazer, TheThe Legend of Jimi Lazer",American,"Jimi Lazer, front-man guitarist of the up-and-...",,
...,...,...,...,...,...,...
780,2017,Crooked House,American,The granddaughter of late business tycoon Aris...,,
781,2017,Hostiles,American,"In 1892, settler Wesley Quaid and his family a...",,
782,2017,All the Money in the World,American,"In 1973, 16-year-old John Paul Getty III (Paul...",,
783,2017,Molly's Game,American,Molly Bloom is world-class mogul skier with Ol...,,
784,2017,Phantom Thread,American,"In 1954 London, renowned fashion designer Reyn...",,

In [36]:
%%time
df1_fourth1000['imdbRating'] = df1_fourth1000['Title'].apply(lambda func: getImdbRating(func))

CPU times: total: 2.81 s
Wall time: 2min 38s

In [37]:
df1_fourth1000

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2013,Last Call,American,"Two underachieving cousins, Danny (Van Winkle)...",6.5,
1,2013,"Last Exorcism Part II, TheThe Last Exorcism Pa...",American,"A couple, Jared (Judd Lormand) and Lily (Boyan...","(-1, -1)",
2,2013,"Last Stand, TheThe Last Stand",American,Sheriff Ray Owens is a man who has resigned hi...,"(-1, -1)",
3,2013,Last Vegas,American,"Billy, Paddy, Archie, and Sam are childhood fr...",6.6,
4,2013,"Legend of Jimi Lazer, TheThe Legend of Jimi Lazer",American,"Jimi Lazer, front-man guitarist of the up-and-...","(-1, -1)",
...,...,...,...,...,...,...
780,2017,Crooked House,American,The granddaughter of late business tycoon Aris...,6.3,
781,2017,Hostiles,American,"In 1892, settler Wesley Quaid and his family a...",7.2,
782,2017,All the Money in the World,American,"In 1973, 16-year-old John Paul Getty III (Paul...",6.8,
783,2017,Molly's Game,American,Molly Bloom is world-class mogul skier with Ol...,7.4,
784,2017,Phantom Thread,American,"In 1954 London, renowned fashion designer Reyn...",7.4,

In [38]:
df1_fourth1000.to_csv('fourth_1000_imdbs.csv')