In [1]:
import pandas as pd

In [8]:
df1 = pd.read_csv('first_1000_imdbs.csv')
df1 = df1.drop('Unnamed: 0', axis=1)
df1

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2000,102 Dalmatians,American,"After three years in prison, Cruella de Vil ha...",4.8,NaN
1,2000,28 Days,American,Gwen Cummings (Sandra Bullock) spends her nigh...,6.1,NaN
2,2000,3 Strikes,American,Robert Douglas (Brian Hooks) is in prison for ...,4.6,NaN
3,2000,The 6th Day,American,At some point in the indeterminate near future...,5.9,NaN
4,2000,The Adventures of Rocky and Bullwinkle,American,35 years since their show's cancellation in 19...,5.8,NaN
...,...,...,...,...,...,...
995,2004,Without a Paddle,American,Twelve years after graduating from high school...,5.8,NaN
996,2004,The Woodsman,American,"Walter (Kevin Bacon), a convicted child molest...",7.2,NaN
997,2004,The Work and the Glory,American,The Steed family moves from their Vermont sett...,6.5,NaN
998,2004,You Got Served,American,David and Elgin lead a promising dance crew in...,NaN,NaN
999,2005,The 40-Year-Old Virgin,American,Andy Stitzer is a 40-year-old virgin who lives...,7.1,NaN

In [9]:
df2 = pd.read_csv('second_1000_imdbs.csv')
df2 = df2.drop('Unnamed: 0', axis=1)
df2

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2005,51 Birch Street,American,51 Birch Street is the first-person account of...,7.3,NaN
1,2005,The Adventures of Sharkboy and Lavagirl in 3-D,American,Max is a lonely child in the suburbs of Austin...,"(-1, -1)",NaN
2,2005,Æon Flux,American,"In 2011, a deadly pathogenic virus has killed ...",5.4,NaN
3,2005,The Amityville Horror,American,"In 1974, Ronald DeFeo Jr. murdered his family ...",5.9,NaN
4,2005,Are We There Yet?,American,Children Lindsey and Kevin Kingston sabotage t...,4.7,NaN
...,...,...,...,...,...,...
995,2009,Astro Boy,American,Toby Tenma is a 13 year old teenage boy who li...,6.2,NaN
996,2009,Avatar,American,"In 2154, humans have depleted Earth's natural ...",7.8,NaN
997,2009,Away We Go,American,Verona De Tessant (Maya Rudolph) and Burt Farl...,7.0,NaN
998,2009,The Bad Lieutenant: Port of Call New Orleans,American,"In August 2005, Terence McDonagh (Nicolas Cage...","(-1, -1)",NaN
999,2009,Bandslam,American,Will Burton (Gaelan Connell) is a music enthus...,6.3,NaN

In [10]:
df3 = pd.read_csv('third_1000_imdbs.csv')
df3 = df3.drop('Unnamed: 0', axis=1)
df3

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2009,Battle for Terra,American,Mala (Evan Rachel Wood) and her friend Senn (J...,6.5,NaN
1,2009,Berdella[2],American,"Beginning in 1984 and ending 1988, the film fo...","(-1, -1)",NaN
2,2009,Beyond a Reasonable Doubt,American,"Shreveport, Louisiana TV reporter C. J. Nichol...",5.8,NaN
3,2009,Big Fan,American,Paul Aufiero (Patton Oswalt) is a parking gara...,6.7,NaN
4,2009,The Blind Side,American,The film opens with seventeen-year-old Michael...,7.6,NaN
...,...,...,...,...,...,...
995,2013,Killing Season,American,"During the Bosnian War, American troops witnes...",5.4,NaN
996,2013,"Kings of Summer, TheThe Kings of Summer",American,"Joe Toy (Nick Robinson), on the verge of adult...","(-1, -1)",NaN
997,2013,Kiss of the Damned,American,"Paolo, a screenwriter staying in Connecticut t...",5.5,NaN
998,2013,Koch,American,First-time filmmaker and former Wall Street Jo...,6.6,NaN
999,2013,Lake Windfall,American,The film begins with five friends who are orga...,7.9,NaN

In [11]:
df4 = pd.read_csv('fourth_1000_imdbs.csv')
df4 = df4.drop('Unnamed: 0', axis=1)
df4

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2013,Last Call,American,"Two underachieving cousins, Danny (Van Winkle)...",6.5,NaN
1,2013,"Last Exorcism Part II, TheThe Last Exorcism Pa...",American,"A couple, Jared (Judd Lormand) and Lily (Boyan...","(-1, -1)",NaN
2,2013,"Last Stand, TheThe Last Stand",American,Sheriff Ray Owens is a man who has resigned hi...,"(-1, -1)",NaN
3,2013,Last Vegas,American,"Billy, Paddy, Archie, and Sam are childhood fr...",6.6,NaN
4,2013,"Legend of Jimi Lazer, TheThe Legend of Jimi Lazer",American,"Jimi Lazer, front-man guitarist of the up-and-...","(-1, -1)",NaN
...,...,...,...,...,...,...
780,2017,Crooked House,American,The granddaughter of late business tycoon Aris...,6.3,NaN
781,2017,Hostiles,American,"In 1892, settler Wesley Quaid and his family a...",7.2,NaN
782,2017,All the Money in the World,American,"In 1973, 16-year-old John Paul Getty III (Paul...",6.8,NaN
783,2017,Molly's Game,American,Molly Bloom is world-class mogul skier with Ol...,7.4,NaN
784,2017,Phantom Thread,American,"In 1954 London, renowned fashion designer Reyn...",7.4,NaN

In [16]:
df = pd.concat([df1, df2, df3, df4], axis=0)
df

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2000,102 Dalmatians,American,"After three years in prison, Cruella de Vil ha...",4.8,NaN
1,2000,28 Days,American,Gwen Cummings (Sandra Bullock) spends her nigh...,6.1,NaN
2,2000,3 Strikes,American,Robert Douglas (Brian Hooks) is in prison for ...,4.6,NaN
3,2000,The 6th Day,American,At some point in the indeterminate near future...,5.9,NaN
4,2000,The Adventures of Rocky and Bullwinkle,American,35 years since their show's cancellation in 19...,5.8,NaN
...,...,...,...,...,...,...
780,2017,Crooked House,American,The granddaughter of late business tycoon Aris...,6.3,NaN
781,2017,Hostiles,American,"In 1892, settler Wesley Quaid and his family a...",7.2,NaN
782,2017,All the Money in the World,American,"In 1973, 16-year-old John Paul Getty III (Paul...",6.8,NaN
783,2017,Molly's Game,American,Molly Bloom is world-class mogul skier with Ol...,7.4,NaN
784,2017,Phantom Thread,American,"In 1954 London, renowned fashion designer Reyn...",7.4,NaN

In [21]:
type(df4.loc[1]['imdbRating'])

str

In [23]:
df = df[df.imdbRating != '(-1, -1)']
df

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2000,102 Dalmatians,American,"After three years in prison, Cruella de Vil ha...",4.8,NaN
1,2000,28 Days,American,Gwen Cummings (Sandra Bullock) spends her nigh...,6.1,NaN
2,2000,3 Strikes,American,Robert Douglas (Brian Hooks) is in prison for ...,4.6,NaN
3,2000,The 6th Day,American,At some point in the indeterminate near future...,5.9,NaN
4,2000,The Adventures of Rocky and Bullwinkle,American,35 years since their show's cancellation in 19...,5.8,NaN
...,...,...,...,...,...,...
780,2017,Crooked House,American,The granddaughter of late business tycoon Aris...,6.3,NaN
781,2017,Hostiles,American,"In 1892, settler Wesley Quaid and his family a...",7.2,NaN
782,2017,All the Money in the World,American,"In 1973, 16-year-old John Paul Getty III (Paul...",6.8,NaN
783,2017,Molly's Game,American,Molly Bloom is world-class mogul skier with Ol...,7.4,NaN
784,2017,Phantom Thread,American,"In 1954 London, renowned fashion designer Reyn...",7.4,NaN

In [28]:
df.reset_index(drop=True, inplace=True)

In [31]:
df = df[~df['imdbRating'].isna()]
df

,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,Subtitles
0,2000,102 Dalmatians,American,"After three years in prison, Cruella de Vil ha...",4.8,NaN
1,2000,28 Days,American,Gwen Cummings (Sandra Bullock) spends her nigh...,6.1,NaN
2,2000,3 Strikes,American,Robert Douglas (Brian Hooks) is in prison for ...,4.6,NaN
3,2000,The 6th Day,American,At some point in the indeterminate near future...,5.9,NaN
4,2000,The Adventures of Rocky and Bullwinkle,American,35 years since their show's cancellation in 19...,5.8,NaN
...,...,...,...,...,...,...
3583,2017,Crooked House,American,The granddaughter of late business tycoon Aris...,6.3,NaN
3584,2017,Hostiles,American,"In 1892, settler Wesley Quaid and his family a...",7.2,NaN
3585,2017,All the Money in the World,American,"In 1973, 16-year-old John Paul Getty III (Paul...",6.8,NaN
3586,2017,Molly's Game,American,Molly Bloom is world-class mogul skier with Ol...,7.4,NaN
3587,2017,Phantom Thread,American,"In 1954 London, renowned fashion designer Reyn...",7.4,NaN

In [33]:
df.to_csv('imdb_ratings.csv')