In [ ]:
!pip install transformers --quiet
!pip install flax --quiet
!pip install sentencepiece --quiet


from transformers import AutoTokenizer, pipeline
import nltk
import pandas

nltk.download('punkt')

from google.colab import drive
drive.mount('drive')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
df = pandas.read_csv('Summary_Subtitle_30_100_78.csv')
data = df["Subtitles"]
# df["Summary_Subtitle_30_100"] = ""

In [ ]:
model_name = "facebook/bart-large-cnn"
tokenizer = AutoTokenizer.from_pretrained(model_name)

In [ ]:
# # subtitle_file = open("subs.txt")
# # lines = subtitle_file.readlines()
# count = 0

# subs = []

# # Strips the newline character
# for line in lines:
#     count += 1
#     line = line.strip()
#     if len(line) > 0:
#       subs.append(line)
#       # print("Line{}: {}".format(count, line.strip()))
  
# data = " ".join(subs)

In [ ]:
def get_chunks(_data):
  global model_name, tokenizer

  sentences = nltk.tokenize.sent_tokenize(_data)

  # initialize
  length = 0
  chunk = ""
  chunks = []
  count = -1
  for sentence in sentences:
    if len(sentence) > 1024:
      sentence = sentence[:1024]

    count += 1
    combined_length = len(tokenizer.tokenize(sentence)) + length # add the no. of sentence tokens to the length counter

    if combined_length  <= tokenizer.max_len_single_sentence: # if it doesn't exceed
      chunk += sentence + " " # add the sentence to the chunk
      length = combined_length # update the length counter

      # if it is the last sentence
      if count == len(sentences) - 1:
        chunks.append(chunk) # save the chunk
      
    else: 
      chunks.append(chunk) # save the chunk
      # reset
      length = 0 
      chunk = ""

      # take care of the overflow sentence
      chunk += sentence + " "
      length = len(tokenizer(sentence))
  
  return chunks

In [ ]:
summarizer = pipeline("summarization", model=model_name)

for i in range(len(data)):
  try:
    if df["Summary_Subtitle_30_100"][i] is not numpy.nan:
      continue

    chunks = get_chunks(data[i])
    summary_arr = []

    for j in range(len(chunks)):
      try:
        s = summarizer(chunks[j], max_length=100, min_length=30, do_sample=False)
        summary_arr.append(s[0]['summary_text'])
      except Exception as e:
        print("error_chunks - ", i + 1, e)
    
    summary = "".join(summary_arr)

    df["Summary_Subtitle_30_100"][i] = summary

    path = ""
    file_name = path + "Summary_Subtitle_30_100_1_" + str(i) + ".csv"
    df.to_csv(file_name, index=False)
    # if i % 5 == 0 and i > 0:
    #   path = "/drive/My Drive/NLP_Data/"
    #   file_name = path + "Summary_Subtitle_30_100_" + str(i) + ".csv"
    #   df.to_csv(file_name, index=False)
    #   break

    print("done - ", i + 1)
  except Exception as e:
    print("error - ", i + 1, e)

Token indices sequence length is longer than the specified maximum sequence length for this model (1039 > 1024). Running this sequence through the model will result in indexing errors

error_chunks -  10 index out of range in self
error_chunks -  10 index out of range in self
error_chunks -  10 index out of range in self
error_chunks -  10 index out of range in self

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

done -  10
error_chunks -  11 index out of range in self
error_chunks -  11 index out of range in self
error_chunks -  11 index out of range in self
error_chunks -  11 index out of range in self
error_chunks -  11 index out of range in self
error_chunks -  11 index out of range in self
error_chunks -  11 index out of range in self
error_chunks -  11 index out of range in self
error_chunks -  11 index out of range in self
error_chunks -  11 index out of range in self
done -  11
error_chunks -  12 index out of range in self
error_chunks -  12 index out of range in self
error_chunks -  12 index out of range in self
error_chunks -  12 index out of range in self
error_chunks -  12 index out of range in self
error_chunks -  12 index out of range in self

Your max_length is set to 100, but you input_length is only 51. You might consider decreasing max_length manually, e.g. summarizer('...', max_length=25)

done -  12
error_chunks -  26 index out of range in self
error_chunks -  26 index out of range in self
error_chunks -  26 index out of range in self
error_chunks -  26 index out of range in self
error_chunks -  26 index out of range in self
error_chunks -  26 index out of range in self
error_chunks -  26 index out of range in self
error_chunks -  26 index out of range in self
error_chunks -  26 index out of range in self
error_chunks -  26 index out of range in self
error_chunks -  26 index out of range in self
done -  26
error_chunks -  39 index out of range in self
error_chunks -  39 index out of range in self
error_chunks -  39 index out of range in self
error_chunks -  39 index out of range in self
error_chunks -  39 index out of range in self
error_chunks -  39 index out of range in self
error_chunks -  39 index out of range in self
error_chunks -  39 index out of range in self
error_chunks -  39 index out of range in self
error_chunks -  39 index out of range in self
error_chunks -  39 index out of range in self
error_chunks -  39 index out of range in self
error_chunks -  39 index out of range in self
error_chunks -  39 index out of range in self
done -  39
error_chunks -  42 index out of range in self
error_chunks -  42 index out of range in self
error_chunks -  42 index out of range in self

Your max_length is set to 100, but you input_length is only 87. You might consider decreasing max_length manually, e.g. summarizer('...', max_length=43)

error_chunks -  42 index out of range in self
done -  42
error_chunks -  65 index out of range in self
error_chunks -  65 index out of range in self
error_chunks -  65 index out of range in self
error_chunks -  65 index out of range in self
error_chunks -  65 index out of range in self
error_chunks -  65 index out of range in self

Your max_length is set to 100, but you input_length is only 83. You might consider decreasing max_length manually, e.g. summarizer('...', max_length=41)

done -  65
error_chunks -  74 index out of range in self
error_chunks -  74 index out of range in self
error_chunks -  74 index out of range in self
error_chunks -  74 index out of range in self
error_chunks -  74 index out of range in self
error_chunks -  74 index out of range in self
done -  74

In [ ]:
summary[0][0]['summary_text']

In [ ]:
chunks[0]

In [ ]:
op = []
for i in range(len(summary)):
  op.append(summary[i][0]['summary_text'])

In [ ]:
k = "".join(op)
len(k)

In [ ]:
data[0]

In [ ]:
df.to_csv("csd.csv", index=False)

In [ ]:
df.head()

,Unnamed: 0,Release Year,Title,Origin/Ethnicity,Plot,imdbRating,imdbID,Subtitles,Summary_Subtitle_30_100
0,0,2004,Eternal Sunshine of the Spotless Mind,American,"Shy, soft-spoken Joel Barish and unrestrained ...",8.3,tt0338013,"Montauk train on track ""B."" Random thoughts fo...","Random thoughts for Valentine's Day, 2004. Tod..."
1,1,2003,Charlie's Angels: Full Throttle,American,After rescuing U.S. Marshal Ray Carter (Robert...,4.9,tt0305357,Northern Mongolia Get off the babysitter. Dadd...,"Alex Munday, U.S. Marshal Marshal Ray Carter, ..."
2,2,2017,Coco,American,"In Santa Cecilia, Mexico, Imelda Rivera is the...",8.4,tt2380307,"explosiveskull GoldenBeard Sometimes, I thin...","Julio's great-great-grandmother, Mama Imelda, ..."
3,3,2013,Black Rock,American,Sarah (Kate Bosworth) invites her childhood fr...,4.8,tt1930294,"Oh, my God. You, like, threw up back here with...","""I have so many stories. There's only so long ..."
4,4,2005,Batman Begins,American,"As a child, Bruce Wayne falls down into a dry ...",8.2,tt0372784,"Rachel, let me see. - Can I see? - Finders kee...",Bruce Wayne wakes up to find himself in the mi...

In [ ]:
import numpy
for i in range(len(df)):
  if df["Summary_Subtitle_30_100"][i] is numpy.nan:
    print(i)

9
10
11
25
38
41
64
73

In [ ]:
print(df["Summary_Subtitle_30_100"][10])

nan

In [ ]:
file_name = path + "Summary_Subtitle_30_100_Final" + str(i) + ".csv"
df.to_csv(file_name, index=False)